* {
  color: white;
  font-family: Times;
  text-align: center;
}
p {
  text-align: center;
}
.fixedemail {
      border-width: 3px;
      background-color: black;
      border-style: solid;
      position: fixed;
      padding: 7px;
      bottom: 0;
      right: 0;
      max-width: 300px;
      z-index: 999;
    }
body {
  background-image: url(http://cdn.wallpapersafari.com/13/66/9OoZ0V.jpg);
}
.center_body_text {
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-radius: 15em;
  padding: 3em;
  margin: 1em;
}
.border_rounding {
  border-radius: 20em;
}
.links {
  position: relative;
  width: 200px;
}
.top10 {
  top: 10em;
}
.link {
  left: 15em;
}
.tweet {
  left: 30em;
}
.github {
  left: 45em;
  bottom: 15em;
}
